@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  background: #111;
}

/* shared styles */
.display-flex {
  display: flex;
}
.text-org {
  color: #e6533c;
}
.text-1 {
  color: #ffffff;
}
.text-2 {
  color: rgba(255, 255, 255, 0.5);
}
.bg-light {
  background-image: linear-gradient(
    180deg,
    #111 0%,
    rgba(119, 119, 119, 0) 100%
  );
}
.bg-dark {
  background: #000;
}

.btn-1 {
  background-color: #e6533c;
  color: #fff;
  padding: 16px 40px;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  border-radius: 42px;
}
.btn-2 {
  background-color: #111;
  color: #fff;
  padding: 16px 40px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 42px;
  border: 1px solid #fff;
}

/* header style */

/* navbar related  style */
.navbar {
  justify-content: space-between;
  align-items: center;
}
/* .nav-links {
} */
.nav-item {
  list-style: none;
  margin-right: 47px;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.navbar,
.banner {
  max-width: 1060px;
  margin: 0 auto;
}
.brand {
  color: #e6533c;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 800;
}
/* banner related */
.banner-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: start;
}
.banner-title {
  font-size: 4.875rem;
  font-weight: 900;
  margin-bottom: 28px;
}
.banner-description {
  margin-bottom: 28px;
}
.banner-img {
  width: 350px;
  height: 580px;
  margin-left: 167px;
}
/* ------------habit section--------------- */
.habits {
  text-align: center;
  margin-top: 100px;
}
.habit-title {
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 14px;
}
.habit-details {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.card {
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 58px 200px;
}
.card-title {
  font-size: 18px;
  font-weight: 600;
}
.card-details {
  font-size: 0.875rem;
  font-weight: 400;
}
.card-img {
  border-radius: 100px;
  margin-bottom: 30px;
}
/* ===============run section
====================== */
.run {
  display: flex;
  padding: 30px 32px 29px 54px;
  justify-content: flex-end;
  align-items: center;
  gap: 165px;
  align-self: stretch;
  margin: 58px 200px;
  border-radius: 18px;
  background: #222;
}
.run-title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.run-details {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 34px;
}
.run-img {
  width: 366px;
  height: 312px;
  border-radius: 18px;
}

/* meet our team
 */
.team-title {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 14px;
}
.team-details {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

/* =================BMI Calcultor=================== */
.bmi-call {
  width: 1440px;
}
.chart {
  gap: 175px;
  justify-content: center;
  align-items: center;
}
.bmi {
  align-items: flex-start;
  margin: 88px 385px;
}
.bmi-title {
  font-size: 3rem;
  font-weight: 900;
}
.bmi-details {
  font-size: 0.875rem;
  font-weight: 400;
}
.bmi-table,
.bmi-table-data,
.bmi-table-head {
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
}
.bmi-table-head {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}
.bmi-table-data {
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 14px;
  padding-bottom: 14px;
}
.bmi-call {
  background: #222;
  margin: 0 auto;
  width: 100%;
  height: 487px;
  margin: 0 auto;

  justify-content: center;
  align-items: center;
}

.bmi-calc-title {
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.calc-description {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 34px;
}
.calc-form {
  flex-direction: column;
  text-align: left;
  gap: 0.75rem;
  margin-bottom: 34px;
}
.calc-form-group {
  gap: 0.75rem;
}
/* ============================================================ */
/* ourteam */
.our-team {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

.team {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, auto));
  row-gap: 1.25rem;
  column-gap: 1.25rem;
  border-radius: 1.125rem;
  background: rgba(255, 255, 255, 0.1);
}
.trainer-1 {
  position: relative;
}
.trainer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.125rem;
}
.trainer-details {
  position: absolute;
  bottom: 2.25rem;
  left: 1.19rem;
}
.name {
  font-size: 1.25rem;
  font-weight: 900;
}
.post {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
}
/* responssive */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .banner {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .navbar,
  .nav-links,
  .banner {
    flex-direction: column;
  }
  .btn-1,
  .btn-2 {
    flex-direction: row;
  }
}
